* {
    border : 0;
    margin : 0;
    padding: 0
}

body {
    background: #fff;
    overflow  : hidden;
}

input,
a {
    outline        : none;
    text-decoration: none;
}

#topbox {
    height    : 100vh;
    overflow-y: scroll;
    width     : 100%;
}

.search {
    padding-top   : 39%;
    /* padding-top: 7rem; */
    background    : #fff;
    position      : relative;
}

.fixed {
    position  : fixed;
    top       : 0;
    width     : 100%;
    z-index   : 2;
    margin-top: 0;
}

form {
    overflow: hidden;
    width   : 88.9%;
    margin  : 0 auto;
    position: relative;
    display : flex;
}

.search input[type=search],
.search textarea {
    background        : #fff;
    width             : 70%;
    border-radius     : 0.83rem 0 0 0.83rem;
    font-family       : PingFangSC-Regular;
    font-size         : 1.5rem;
    color             : #000;
    letter-spacing    : 0;
    line-height       : 4rem;
    height            : 4rem;
    margin            : 0 auto;
    display           : block;
    padding           : 0 1.5rem;
    box-sizing        : border-box;
    -webkit-appearance: none;
    outline           : none;
    border            : 0.08rem solid #999;
}
#topWarp input[type=search]{
    background        : #fff;
    width             : 70%;
    border-radius     : 0.83rem 0 0 0.83rem;
    font-family       : PingFangSC-Regular;
    font-size         : 1.5rem;
    color             : #000;
    letter-spacing    : 0;
    line-height       : 3.5rem;
    height            : 3.5rem;
    margin            : 0 auto;
    display           : block;
    padding           : 0 1.5rem;
    box-sizing        : border-box;
    -webkit-appearance: none;
    outline           : none;
    border            : 0.08rem solid #999;
}

.search .slogo {
    height : 4.7rem;
    
}
.logobox{height : 4.7rem;display: block;
    margin : 0 auto 1.88rem auto; text-align: center;}
#topWarp{position:fixed;top:0;left:0;width:100%;height:100%;display:none;background:#fff;z-index:1;}
#top_form{position: fixed;top: 0;left:0;z-index: 100;width:95%;height:3.6rem;display: flex;padding-top: 0.5rem;}
.search input.searchBtn{
    width             : 30%;
    height            : 4rem;
    font-family       : PingFangSC-Semibold;
    font-size         : 1.33rem;
    background        : #999;
    border            : 0.08rem solid #999;
    color             : #fff;
    border-radius     : 1rem;
    display           : block;
    -webkit-appearance: none;
    border-radius     : 0 0.83rem 0.83rem 0;
}
#topWarp input.searchBtn {
    width             : 30%;
    height            : 3.5rem;
    font-family       : PingFangSC-Semibold;
    font-size         : 1.33rem;
    background        : #999;
    border            : 0.08rem solid #999;
    color             : #fff;
    border-radius     : 1rem;
    display           : block;
    -webkit-appearance: none;
    border-radius     : 0 0.83rem 0.83rem 0;
}

#return {
    background     : url(../images/icon_back.png) no-repeat center center;
    background-size: 2rem 2rem;
    width          : 15%;
    height         : 100%;
}

.recommend {
    /* height         : 19.83rem; */
    height         : 18.75rem;
    box-sizing     : border-box;
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : row;
    align-content  : flex-start;
    justify-content: center;
    text-align     : center;
    padding-top    : 3.33rem;
}

.fixedRecommend {
    margin-top: 11.67rem;
}

.recommend .iconItem {
    margin: 0 1.335rem 1.67rem 1.335rem;
}

.iconItem a {
    position: relative;
    display : block;
}

.iconItem i {
    position     : absolute;
    top          : 0rem;
    right        : -0.835rem;
    background   : #0A7AFF;
    display      : block;
    font-family  : PingFangSC-Medium;
    font-size    : 1rem;
    color        : #FFFFFF;
    text-align   : center;
    height       : 1rem;
    min-width    : 1rem;
    line-height  : 1rem;
    border-radius: 0.835rem;
    font-style   : normal;
    padding      : 0.32rem;
}

.recommend img {
    width        : 4rem;
    height       : 4rem;
    border       : 0 solid #EEEEEE;
    box-shadow   : 0 0.33rem 0.83rem 0 rgba(190, 190, 190, 0.15);
    border-radius: 0.83rem;
    display      : block;
    margin-bottom: 0.5rem;
}

.recommend div:nth-child(1) img {
    border: 1px solid #d8d8d8;
}

.recommend span {
    font-family   : PingFangSC-Regular;
    font-size     : 1rem;
    color         : #000000;
    letter-spacing: 0;
    text-align    : center;
    line-height   : 1.16rem;
}

.articles {
    display       : flex;
    flex-direction: column;
    height        : 100vh;
    border        : 1px solid #F0F0F0;
    border-radius : 10px;
    margin        : 0 1.33rem;
    overflow      : visible;
}

.articles iframe {
    width  : 100%;
    display: block;
    flex   : 1;
}

#tj {
    height       : 3.5rem;
    line-height  : 3.5rem;
    font-family  : PingFangSC-Regular;
    font-size    : 1.16rem;
    color        : #8A8A8E;
    border-bottom: 1px solid #F0F0F0;
    text-indent  : 1.17rem;
}

#sq {
    font-size    : 1.25rem;
    display      : none;
    position     : relative;
    top          : -1px;
    width        : 120%;
    height       : 3.5rem;
    line-height  : 3.5rem;
    margin-left  : -10%;
    background   : #fefefe;
    box-shadow   : 1px 1px 3px #eee;
    border-bottom: 1px solid #eee;
    transition   : height 0.5s;
    border-top   : 1px solid #F0F0F0;
}

.arrow {
    /* transform : rotate(-180deg); */
    transition    : transform .2s ease-in-out;
    display       : inline-block;
    border-top    : 0.5rem solid rgb(56, 131, 245);
    border-left   : 0.5rem solid transparent;
    border-right  : 0.5rem solid transparent;
    transition    : transform .2s ease-in-out;
    vertical-align: middle;
}

.recommend,
.articles {
    -webkit-transform : translate(0px);
    -webkit-transition: -webkit-filter ease 0.3s;
}



.clearfix:after {
    visibility: hidden;
    display   : block;
    font-size : 0;
    content   : " ";
    clear     : both;
    height    : 0;
}

.lword {
    width           : 100%;
    position        : absolute;
    top             : 4.1rem;
    left            : 0;
    display         : none;
    padding         : 0rem 1.42rem 0 1.42rem;
    box-sizing      : border-box;
    z-index         : 3;
    background-color: #fff;
}

.lword li {
    border-bottom  : 1px solid rgba(175, 175, 175, 0.26);
    font-size      : 1.5rem;
    height         : 4rem;
    line-height    : 4rem;
    cursor         : pointer;
    list-style     : none;
    display        : inline-block;
    width          : 100%;
    text-overflow  : ellipsis;
    white-space    : nowrap;
    overflow       : hidden;
    position       : relative;
    z-index        : 100;
    background     : url(../images/_s0.png) no-repeat center left;
    background-size: 1.36rem 1.36rem;
}

.lword li.zd {
    background     : url(../images/_z.png) no-repeat center left;
    background-size: 1.36rem 1.36rem;
}

.lword li:last-of-type {
    border: none;
}

.lword li a {
    color        : #000;
    font-family  : PingFangSC-Regular;
    padding      : 0 1.76rem;
    width        : 86%;
    display      : inline-block;
    text-overflow: ellipsis;
    white-space  : nowrap;
    overflow     : hidden;
    position     : relative;
}

.lword li a:hover,
.lword li a:active {
    text-decoration: none;
    color          : #000;
}


.lword.skin li a span {
    margin-left : 16px;
    font-size   : 12px;
    color       : rgba(180, 180, 180, 0.5);
    margin-right: 20px;
}

.lword li>img {
    position: absolute;
    right   : 0px;
    top     : 1.34rem;
    width   : 1.06rem;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background: #1f1f1f;
    }

    .recommend span {
        color: #fff;
    }

    #tj {
        height       : 3.5rem;
        line-height  : 3.5rem;
        font-family  : PingFangSC-Regular;
        font-size    : 1.16rem;
        color        : #8A8A8E;
        border-bottom: 1px solid rgba(118, 118, 118, 0.15);
        text-indent  : 1.17rem;
    }

    #sq {
        font-size    : 1.25rem;
        display      : none;
        position     : relative;
        top          : -1px;
        width        : 120%;
        height       : 3.5rem;
        line-height  : 3.5rem;
        margin-left  : -10%;
        box-shadow   : 1px 1px 3px #555;
        border-bottom: 1px solid #555;
        transition   : height 0.5s;
        border-top   : 1px solid #1f1f1f;
        background   : #1f1f1f;
    }

    .arrow {
        /* transform : rotate(-180deg); */
        transition    : transform .2s ease-in-out;
        display       : inline-block;
        border-top    : 0.5rem solid rgb(56, 131, 245);
        border-left   : 0.5rem solid transparent;
        border-right  : 0.5rem solid transparent;
        transition    : transform .2s ease-in-out;
        vertical-align: middle;
    }

    .articles {
        display       : flex;
        flex-direction: column;
        height        : 100vh;
        border        : 1px solid rgba(118, 118, 118, 0.15);
        border-radius : 10px;
        margin        : 0 1.33rem;
        overflow      : visible;
    }

    .search {
        background: #1f1f1f;
    }
}

/* ipad */
@media only screen and (min-device-width:768px){
    form{width: 540px;}
    .search input[type=search], .search textarea{height: 44px;}  
    .search input.searchBtn{height: 44px;}
    .recommend{width: 500px; margin: 0 auto;padding-top: 48px;}
    .recommend img{width: 52px; height: 52px;}
    .recommend .iconItem {margin: 0 36px 22px 36px;}
    .logobox{height: 60px;}
}
@media only screen and (min-device-width:768px)  and (orientation:portrait){
    .search{padding-top:230px;}
}
@media only screen and (min-device-width:768px)  and (orientation:landscape){
    .search{padding-top:110px;}
}
@media only screen and (max-device-width:700px)  and (orientation:landscape){
    .search{padding-top:3%;}
    form{width: 78%;}
    .recommend{width: 78%; margin: 0 auto;}
    .recommend .iconItem {margin:0 4rem 1.67rem 4rem;}
}